.p1.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-color: white;
  position: relative;
  z-index: 100
} 

body {

}
div {
 display: grid;
  place-items: center;
  height: 600px;
  border: 1px solid black;
}

img {
  width: 10%
}