.p1.center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #020024;
  color: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  position: x(500px);
  z-index: 100
  
  ;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

body {
background: #000000;
background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(61, 55, 55, 1) 100%);
}

div {
 display: grid;
  place-items: center;
  height: 600px;
  pointer-events: fill;
  border: 1px solid black;
}

img {
  width: 10%;
  display: block;
  margin: 0 auto;
}